.c-hero {
    background: getColor('primary');
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    color: getColor('light');

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 0;
    }

    &__canvas {
        width: 50%;
        display: flex;
        canvas {
        }
    }
}
