.c-hero {
  background: getColor('primary');
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  color: getColor('light');
  background: rgba(22, 22, 22, 1);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    &__item {
      padding: 1rem;
      cursor: pointer;
      &--active {
        color: red;
      }
    }
  }

  &__canvas {
    width: 50%;
    display: flex;

    canvas {
      border: 1px solid red;
    }
  }

  &__debug {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    background: red;
    font-size: 3rem;
    > * {
      padding: 0 2rem;
    }
  }
}
